#git status excludes the following files (except those line who start with !)
*.order
*.lo
*.la
*.so
*.o
.*.cmd
*.ko
*.a
*.mod.c
*.o.d
*.swp
*~
*m4/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
config.log
config.status
config.guess
config.sub
ltmain.sh
config.h
config.h.in
compile
configure
install-sh
libtool
missing
depcomp
stamp-h1
.dirstamp
.deps/
.libs/
libs/libstgles/libltdl/
tools/acinclude.m4
tools/aio-grab-arm/grab
tools/aio-grab-sh4/grab
tools/devinit/devinit
tools/evremote2/evremote2
tools/evremote2/evtest
tools/fbshot/fbshot
tools/fp_control/fp_control
tools/gitVCInfo/gitVCInfo
tools/hd-idle/hd-idle
tools/hotplug/hotplug
tools/libeplayer3/eplayer3
tools/libeplayer3/container
tools/libeplayer3/container/.dirstamp
tools/libeplayer3/manager/.dirstamp
tools/libeplayer3/meta
tools/libeplayer3/output/.dirstamp
tools/libeplayer3/output/writer/.dirstamp
tools/libeplayer3/playback/.dirstamp
tools/libeplayer3/tools/.dirstamp
tools/satfind/satfind
tools/showiframe/showiframe
tools/stfbcontrol/stfbcontrol
tools/streamproxy/streamproxy
tools/ustslave/ustslave
tools/tfd2mtd/tfd2mtd
tools/tffpctl/tffpctl
tools/USB_boot/busybox
tools/vfdctl/vfdctl
tools/wait4button/wait4button

