#git status excludes the following files (except those line who start with !)
*.order
*.lo
*.la
*.so
*.o
.*.cmd
*.ko
*.a
*.mod.c
*.o.d
*.swp
*~
*m4/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
config.log
config.status
config.guess
config.sub
ltmain.sh
config.h
config.h.in
compile
configure
infobox
install-sh
libtool
missing
depcomp
stamp-h1
.dirstamp
.deps/
.libs/
libs/libstgles/libltdl/
aio-grab/grab
devinit/devinit
eeprom_fortis/eeprom
eeprom_ipbox/eeprom
eeprom_ufs913/eeprom
eeprom_ufs922/eeprom
evremote2/evremote2
evremote2/evtest
exteplayer3/exteplayer3
fbshot/fbshot
femon/femon
fp_control/fp_control
gitVCInfo/gitVCInfo
hd-idle/hd-idle
hotplug/hotplug
msgbox/msgbox
libeplayer3/eplayer3
libeplayer3/container
libeplayer3/container/.dirstamp
libeplayer3/manager/.dirstamp
libeplayer3/meta
libeplayer3/output/.dirstamp
libeplayer3/output/writer/.dirstamp
libeplayer3/playback/.dirstamp
libeplayer3/tools/.dirstamp
read-edid/read-edid
satfind/satfind
showiframe/showiframe
stfbcontrol/stfbcontrol
streamproxy/streamproxy
ustslave/ustslave
tfd2mtd/tfd2mtd
tffpctl/tffpctl
USB_boot/busybox
vfdctl/vfdctl
wait4button/wait4button

